<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
        <style>
            table {
                width: 50%;
                border-collapse: collapse;
                margin: 50px 0;
                font-size: 18px;
                text-align: left;
            }
            th, td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }
        </style>
</head>
<body>
    <!--display scores-->
    <h1>Scores</h1>
    <h4>averaged score for reference missing: {{ grades[0] }}</h4>
    <h4>averaged score for incorrect reference: {{ grades[1] }}</h4>
    <h4>averaged score total grade: {{ grades[2] }}</h4>

    <!--display feedback using Jinja2 template engine-->
    <h1>Feedback</h1>
    {% for each in fb %}
        {% if each is mapping %}
            <table>
                <thead>
                    <tr>
                        <th>component</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in each.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>{{ each|replace('\n', '<hr>')|safe }}</h4>
        {% endif %}
    {% endfor %}

    <!--display summary using Jinja2 template engine-->
    <h1>Summary</h1>
    {% for each in summ %}
        <h4>{{ each|replace('\n', '<br>')|safe }}</h4>
    {% endfor %}
</body>
</html>